$font_path: '~@/assets/fonts/';

@font-face {
    font-family: 'Palanquin';
    src: url($font_path + 'subset-PalanquinDark-Medium.woff2') format('woff2'),
        url($font_path + 'subset-PalanquinDark-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url($font_path + 'subset-AvenirLTStd-Light.woff2') format('woff2'),
        url($font_path + 'subset-AvenirLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url($font_path + 'subset-AvenirLTStd-Black.woff2') format('woff2'),
        url($font_path + 'subset-AvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url($font_path + 'subset-AvenirLTStd-Medium.woff2') format('woff2'),
        url($font_path + 'subset-AvenirLTStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

