@import './layout/layout-scene';


body {
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
}
html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}