@import './layout/layout-scene';

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirLTStd-Medium.otf") format("otf");
}

body {
  width: 100vw;
  height: 100vh;
	font-size: 1.6rem;
	font-family: "Avenir";
}
html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

textarea::-webkit-input-placeholder,  ::-webkit-input-placeholder  {
	color: $yellow;
}

textarea:-moz-placeholder, :-ms-input-placeholder { /* Firefox 18- */
	color: $yellow;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
	color: $yellow;  
}

textarea:-ms-input-placeholder {
	color: $yellow;  
}

/*::-webkit-scrollbar {
	background-color: $grey--dark;
} 

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2); 
}
*/