@import './layout/layout-scene';

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirLTStd-Medium.otf") format("otf");
}

body {
  width: 100vw;
  height: 100vh;
	font-size: 1.6rem;
	font-family: "Avenir";
}
html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button:focus {
	outline: none !important;
}

.VueCarousel-pagination--bottom-overlay {
	bottom: 2rem !important;
}

.VueCarousel-dot {
	position: relative;
}
.VueCarousel-dot--active {
	&:after {
		position: absolute;
    width: 16px;
    height: 16px;
    top: 5px;
    left: 5px;
		content: "";
		border-radius: 100%;
		border: 2px solid $violet;
	}
}

textarea::-webkit-input-placeholder,  ::-webkit-input-placeholder  {
	color: $violet;
}

textarea:-moz-placeholder, :-ms-input-placeholder { /* Firefox 18- */
	color: $violet;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
	color: $violet;  
}

textarea:-ms-input-placeholder {
	color: $violet;  
}

/*::-webkit-scrollbar {
	background-color: $grey--dark;
} 

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2); 
}
*/