//Colors 
$primary: #F0F;
$white : #fff;
$black: #000;
$grey--dark : #282433;
$yellow : #FFF82A;

//Size
$achievement-width: 24.8rem;
$nav-height: 40px;


//Fonts
/*@font-face {
  font-family: "AvenirLTStd Black";
  src: url("../assets/fonts/AvenirLTStd-Black.otf") format("otf");
}

@font-face {
  font-family: "Manrope Bold";
  src: url("../assets/fonts/manrope-bold.otf") format("otf");
}

*/