//Colors 
$primary: #F0F;
$white : #fff;
$black: #000;
$grey--dark : #282433;
$violet : #FFF82A;
$violet : #4E00FF;
$blue: #0096FF;
$light--blue: #B3EEFF;
$grey--light: #F5F5F5;

//Size
$achievement-width: 24.8rem;
$nav-height: 40px;


//Fonts
/*@font-face {
  font-family: "AvenirLTStd Black";
  src: url("../assets/fonts/AvenirLTStd-Black.otf") format("otf");
}

@font-face {
  font-family: "Manrope Bold";
  src: url("../assets/fonts/manrope-bold.otf") format("otf");
}

*/