//Colors 
$white : #fff;
$black: #000;
$grey--dark : #282433;
$orange: #FF8457;
$light--orange: #FDA085;
$violet : #4E00FF;
$dark--violet : #2B2BA8;
$blue: #0096FF;
$medium--blue: #00D7FF;
$light--blue: #B3EEFF;
$grey--background: #EFEFEF;
$grey--light: #F5F5F5;
$grey: #c3c3c3;
$gradient : linear-gradient(to right,#4E00FF, #04CBFF, #00D7FF);
$gradient--diagonal : linear-gradient(120deg, $violet 40%, #04CBFF, #00D7FF);
$gradient--background: linear-gradient(145deg, $violet 60%, #04CBFF, #00D7FF);           

//Size
$achievement-width: 24.8rem;
$nav-height: 40px;

$font-avenir: "Avenir", sans-serif;
$font-palanquin: "Palanquin", sans-serif;
