.student-achievement {
    .achievements {
        background-color: $black;
    }
}

.layout__container {
    background-color: $violet;
    min-height: 100vh;
}

.layout-traps {
    position: relative;
    width: 60rem;
}

.layout-main{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.layout-content {
  width: 750px;
  position: relative;
  margin: auto;
  padding-top: 7rem;
}